@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

.action,
.logo,
a {
    text-decoration: none;
    color: #e5e7eb;
    font-family: Roboto, sans-serif
}

body,
ul {
    margin: 0
}

.action,
.content,
.logo,
a {
    color: #e5e7eb
}

.content,
.header {
    background-color: #1f2937;
    display: flex
}

.button,
.content,
.header,
.left-block,
.top-right-links,
body {
    display: flex
}

body {
    flex-direction: column
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px
}

.left-block,
.right-image {
    padding: 50px
}

.action,
.logo {
    font-size: 24px;
    font-weight: 700
}

a {
    font-size: 18px
}

ul {
    list-style-type: none;
    padding: 0;
    gap: 10px
}

.content {
    align-items: center;
    justify-content: space-between
}

.title,
button {
    color: #f9faf8;
    font-weight: 700
}

.left-block {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.title {
    font-family: Roboto, sans-serif;
    font-size: 48px
}

.text,
button {
    font-size: 18px;
    font-family: Roboto, sans-serif
}

.text {
    color: #e5e7eb;
    margin-bottom: 15px
}

.button {
    align-items: center;
    justify-content: center;
    gap: 5px
}

.bottom-container,
.container,
.signin {
    gap: 20px;
    margin-bottom: 50px;
    display: flex
}

button {
    border: none;
    border-radius: 10px;
    background: #3882f6;
    padding: 10px 30px
}

img {
    max-width: 100%;
    max-height: 100%
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.info-title {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    margin-top: 50px
}

.card-text,
.quotable-text {
    font-weight: lighter;
    font-family: Roboto, sans-serif
}

.container {
    justify-content: center;
    align-items: center;
    padding: 32px
}

.block {
    display: flex;
    flex-direction: column
}

.card {
    flex-basis: 16%;
    border: 5px solid #3882f6;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 15px;
    padding: 5px
}

.card-text {
    font-size: 18px;
    text-orientation: upright
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
    background-color: #e5e7eb
}

.quotable-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}

.author {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    align-self: flex-end
}

.footer,
.sub-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
    text-decoration: none
}

.bottom-container,
.signin {
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-top: 50px
}

.bottom-container {
    background-color: #3882f6;
    border-radius: 15px;
    padding: 50px 100px;
    gap: 100px
}

.left-things {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 30px
}